<div class="panel panel-default">
    <div class="panel-header">
        <h3 class="panel-title">{{service.type}}</h3>
    </div>
    <div ng-repeat="s in service">
        <div class="panel panel-default">
            <span class="panel-content">{{s}}</span>
        </div>
    </div>
</div>