<div class='row'>
    <div class="col-md-6 col-md-offset-3">
        <h4>Add Services</h4>
        <div class="form-group">
           <label>Make: </label> 
            <input type="text" ng-model="make" class="form-control">
            <label>Model: </label> 
            <input type="text" ng-model="model" class="form-control">
            <label>Type: </label>
            
            <input type="text" ng-model="type" class="form-control">
            <label>Year: </label>
            <input type="text" ng-model="year" class="form-control">
            <label>Odometer Reading: </label>
            <input type="text" ng-model="odometer" class="form-control">
            
        </div>
        Available Services List for an {{type}} Car:

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{type}} Services
                    </div>
                    <div class="panel-body">
                        <!--
                                NOTE: this is a single select.  Multiselects are not directly supporte in Angular.
                        -->
                        <label for="repeatSelect"> {{type}} Services: </label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="selectedServices">
                          <option ng-repeat="s in availableServices" value={{s}}>{{s}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <a href="#/viewServices" class="btn btn-primary">Add Service</a>
    </div>
</div>