<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Adding a car
            </div>
            <div class="panel-body">
                Make: {{ make }} <br>
                Model: {{ model }} <br>
                Type: {{ type }} <br>
                Year: {{ year }} <br>
                Odometer: {{ odometer }} <br>

                Available Services List: {{ selectedServices }}
            </div>
        </div>
        <a href="#/viewServices" class="btn btn-primary">Service</a>
    </div>
</div>